.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  height: 80%;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1.3em;
}

.header {
  position: absolute;
  top: 2%;
  right: 2%;
  float: right;
  color: white;
  font-size: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.7);
}
